/*
 *= require_self
 */

@import 'font-awesome';
@import 'base/fonts';
// @import 'base/custom';
@import 'materialize';
// @import 'base/mixins';
// @import 'base/global';
// @import 'components/*';
// @import 'partials/*';
// @import 'views/**/*';
// @import 'layouts/*';

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

.collapsible-header {
  padding: {
    top: 8px;
    bottom: 8px;
  };

  &.active {
    background-color: #f5f5f5; // grey lighten-4
  }

  .chip {
    &.get {
      @extend .lime, .lighten-3;
    }

    &.post {
      @extend .cyan, .lighten-4;
    }

    &.put {
      @extend .purple, .lighten-4;
    }

    &.put {
      @extend .red, .lighten-4;
    }
  }

  .row {
    margin-bottom: 0;
  }

  i {
    margin: {
      right: 0;
      left: 15px;
    };
  }
}

.collapsible-body {
  padding-bottom: 30px;

  .row {
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    padding: 15px 0;
  }
}

